.intro-container {
  max-width: 1140px;
  margin: 2rem auto 4rem auto;
  padding: 0 1.5rem;
  font-family: Arial, sans-serif;
}

.intro-header {
  margin-bottom: 1.5rem; 
  text-align: center;
  align-items: center; 
}

.intro-header h3 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #6c757d;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ferrari{
color: var(--ferrari-gold);
font-weight: 700;
}

.intro-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--ferrari-gold);
  margin-bottom: 1.5rem;
}

.intro-header p,
.intro-footer p {
  font-size: 1.15rem;
  line-height: 1.7;
  text-align: center;
}

.intro-footer {
  margin-top: 2.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.intro-card {
  border-radius: 12px;
  padding: 1.5rem;
  min-height: 280px;
  display: flex;
  align-items: flex-end; 
  margin: 0.5rem;
}

.intro-card h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

.card-with-bg {
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden; 
  
}

.card-with-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.7) 0%, 
    rgba(0, 0, 0, 0.1) 60%, 
    rgba(0, 0, 0, 0.0) 100%
  );
}

.card-with-bg h4 {
  position: relative;
  z-index: 2;
}

.card-simple {
  background-color: var(--ferrari-gray);
  color: white;
  align-items: center; 
  text-align: center;
  margin-bottom: 2.5rem;
}
