@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --ferrari-text: #111111;          /* Testo principale */
  --ferrari-white: #FFFFFF;
  --ferrari-black: #222222;
  --ferrari-gray: #9b9b9b;
  --ferrari-gold: #998245;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Polin", sans-serif !important;
}

@font-face {
  font-family: "Polin";
  src: url("assets/fonts/polin/polin-regular.ttf");
}
@font-face {
  font-family: "Polin-Black";
  src: url("assets/fonts/polin/polin-black.ttf");
}
@font-face {
  font-family: "Polin-Bold";
  src: url("assets/fonts/polin/polin-bold.ttf");
}
@font-face {
  font-family: "Polin-ExtraBold";
  src: url("assets/fonts/polin/polin-extrabold.ttf");
}
@font-face {
  font-family: "Polin-Light";
  src: url("assets/fonts/polin/polin-light.ttf");
}
@font-face {
  font-family: "Polin-ExtraLight";
  src: url("assets/fonts/polin/polin-extralight.ttf");
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
  color: var(--ferrari-text);
  line-height: 1.6;
  font-size: 16px;
}

header {
  background-color: var(--ferrari-black);
  color: var(--ferrari-gray);
  display: flex;
  align-items: center;
  padding: 12px 8%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

header img {
  height: 45px;
  margin-right: 15px;
}

header h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: var(--ferrari-white);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.report-card {
  background-color: var(--ferrari-white);
  border-left: 5px solid var(--ferrari-gray);
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.report-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

a {
  color: var(--ferrari-gray);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--ferrari-white);
  text-decoration: underline;
}

footer {
  background-color: var(--ferrari-black);
  color: var(--ferrari-gray);
  text-align: center;
  padding: 25px 10px;
  font-size: 0.9rem;
}

footer a {
  color: var(--ferrari-gray);
  text-decoration: none;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .container {
    padding: 25px;
  }
}

body {
  background-color: #f0f2f5b6;
}
